/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 20px;
}
.header {
    text-align: center;
    padding: 0px 20px 30px;
    margin-bottom: 30px;
    border-bottom: solid 3px #9b4dca;
}

.column {
    padding: 10px;
    box-sizing: border-box;
}

.topic-subtitle {
    padding: 20px;
    background: #eee;
    cursor: pointer;
    margin-top: 10px;
}
.topic-subtitle span {
    float: right;
}
.topic-item {
    border-left: solid 2px #9b4dca;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #eee;
}
.topic-name{
    border-bottom: 1px solid #777;
}
.topic-description {
    margin-bottom: 10px;
}
input[type=checkbox]:checked + label{
    text-decoration: line-through;
}
.item-done {
    background: #eee;
    color: #777;
}