/*General Rules*/
body {
    margin: 0px;
    padding: 0px;
}
.main {
    padding: 30px;
}
.column {
    padding: 10px;
    box-sizing: border-box;
}
.fa {
    font-size: 1.2em;
}
footer {
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    background: linear-gradient(#444, #555);
    color: #999;
    margin-top: 20px;
}
/*Navbar*/
header {
    background: linear-gradient(90deg, #9A4DCA, #9b4dff);
    line-height: 1em;
    font-weight: 900;
    color: #ffffbf;
    padding: 20px;
    box-shadow: 0px 2px 3px #aaa;
}
.logo {
    cursor: pointer;
}
/*Header Area*/
.header {
    text-align: center;
    padding: 30px 0px 60px;
    margin: 30px 0px;
    border-bottom: solid 3px #9b4dca;
    box-shadow: 0px 2px 3px #aaa;
}
.home-message {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}
/*Sources Modules*/
.topic-subtitle {
    padding: 20px;
    background: #eee;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0px 1px 5px #aaa;
}
.topic-subtitle span {
    float: right;
}
.topic-item {
    border-left: solid 2px #9b4dca;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #eee;
    transition: 300ms;
}
.topic-item:hover {
    box-shadow: 3px 3px 8px #aaa;
}
.topic-name{
    border-bottom: 1px solid #777;
}
.topic-description {
    margin-bottom: 10px;
}
input[type=checkbox]:checked + label{
    text-decoration: line-through;
}
.item-recommended {
    background: #ffffbf;
}
.item-done {
    background: linear-gradient(90deg, #9b4dca, #9b4dff);
}
.item-done a {
    color: #fff;
}
